# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{scss,style,css}]
indent_style = space
indent_size = 3

[*.{twig,vue}]
indent_style = space
indent_size = 3

[*.{js,coffee}]
indent_style = space
indent_size = 3

